<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Update Task Page</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/taskform.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<br><form th:action="@{/logout}" method="GET">
		<button class="btn btn-danger btn-block" name="registration" type="Submit">Logout</button>
	</form>

	<div class="panel-group" style="margin-top: 20px">
		<div class="panel panel-primary">
			<p>This is the main Task Manager page. Please use it to either update an existing task shown in the table
			   below or delete an existing task. To update a task enter a Task ID corresponding to one of the Task ID's
			   on the table below and then enter the updated information you wish to enter into the database. Once done
			   click the Update Task button under the form to submit the changes.</p>
			<p>To delete a Task enter the corresponding Task ID from the table into the form field beneath the Update Task
			   link. Once you have confirmed you entered the correct ID click the Delete Task link. A prompt will appear
			   asking you to confirm your selection. Select "OK" to commit the change and the page will refresh to show 
			   the new updated Task List.</p>
		</div>
	</div>

		<div>
		<h2 class="text-center">Your current tasks are listed below</h2>

				<div class="form-group">
					<table class="table table-boreded table-striped text-left">
						<thead>
							<tr>
								<th>Task ID</th>
								<th>Task Name</th>
								<th>Severity</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Description</th>
							</tr>
						</thead>
						<th:block th:each="task : ${tasks}">
							<tr>
								<td th:text="${task.id}">Task ID</td>
								<td th:text="${task.name}">Task Name</td>
								<td th:text="${task.severity}">Severity</td>
								<td th:text="${task.startDate}">Start Date</td>
								<td th:text="${task.endDate}">End Date</td>
								<td th:text="${task.description}">Description</td>
							</tr>
						</th:block>
					</table>
				</div>
		</div>
		
		<div>
		<form autocomplete="off" action="#" th:action="@{/updatetask}"
		  	  th:object="${task}" method="post" class="form-horizontal"
			  role="form">
			<h2>Task Update Form</h2>	  
            <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
            
			<div class="form-group">
				<div class="col-sm-9">
					<label th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
						   class="validation-message">Task ID</label>
					<input type="number" th:field="*{id}" placeholder="Enter Task ID"
						   class="form-control" th:required="required"/>				
				</div>
			</div>
            
            <div class="form-group">
            	<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="validation-message">Task Name</label>
                        <input type="text" th:field="*{name}" placeholder="Task Name"
                               class="form-control" th:required="required"/>
            	</div>
            </div>    
            
				<div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"
                               class="validation-message">Start Date</label>
                        <input type="date" th:field="*{startDate}" placeholder="MM/DD/YYYY"
                               class="form-control" th:require="required"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"
                               class="validation-message">End Date</label>
                        <input type="date" th:field="*{endDate}" placeholder="MM/DD/YYYY"
                               class="form-control" th:required="required"/>
                    </div>
                </div>
				
				<div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('severity')}" th:errors="*{severity}"
                               class="validation-message">Severity</label>
                        <select th:field="*{severity}" class="form-control">
                        	<option value="high">High</option>
                        	<option value="medium">Medium</option>
                        	<option value="low">Low</option>       
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                               class="validation-message">Description</label>
                        <textarea th:field="*{description}" placeholder="Please enter a description of the task"
                               class="form-control" rows=10 cols=30></textarea>
                    </div>
                </div>
                             
			<div>
				<div class="class-sm-9">
					<button type="Submit" class="btn btn-primary btn-block">Update Task</button></br>
				</div>
			</div>
			
		</form>
		
		<form autocomplete="off" action="#" th:action="@{/deletetask}" 
			  th:object="${task}" method="POST" class="form-horizontal"
			  role="form" onsubmit="return confirm('Are you sure you want to delete this task? This action cannot be undone!');">
			  <h2 class="text-center">Enter a Task below to to delete it from the database.</h2>	  
			  <div class="form-group">
				<div class="col-sm-9">
					<label th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
						   class="validation-message">Task ID</label>
					<input type="number" th:field="*{id}" placeholder="Enter Task ID"
						   class="form-control"/>				
				</div>
			</div>
			<button class="btn btn-md btn-danger btn-block" type="Submit">Delete Task</button></br></br>
		</form>
		
		</div>
		
		<form th:action="@{/admin/home}" method="get">
			<button class="btn btn-primary btn-block" type="Submit">Go to Task Admin Home Page</button>
		</form>
		<form th:action="@{/taskpage}" method="get">
			<button class="btn btn-primary btn-block" type="Submit">Go to Task Creation Page</button></br></br>
		</form>
		
	</div>

</body>
</html>